<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>format_paint</mat-icon>
  </button>
  <span>Baudy peinture</span>
  <span class="example-spacer"></span>
  <button mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>phone</mat-icon>
    06 20 15 64 10
  </button>
</mat-toolbar>

<div class="landing">
  <h1>Baudy peinture, votre peintre expert à Toulon</h1>
  <button mat-flat-button color="primary">Devis Gratos</button>
</div>
